__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
.pytest_cache/
.git/
.vscode/
.cache/
logs/
config.yaml
data/pkg/
data/DCIM/
data/html-render/*.json
data/web-toolkit/*.json
data/plugin-storage/*.json
*.so
*.dll
*.dylib
